<ion-header>
    <ion-toolbar>
        <ion-title>
            Groceries
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item-sliding>
            <ion-item>
                <div>
                    <h2>Milk</h2>
                    <p>Qty: 1</p>
                </div>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
            <ion-item>
                <div>
                    <h2>Bread</h2>
                    <p>Qty: 2</p></div>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
            <ion-item>
                <div>
                    <h2>Eggs</h2>
                    <p>Qty: 3</p></div>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
